
.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.auth-wrapper form {
  width: 375px;
  margin: 0 auto;
}

.auth-wrapper h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}
.auth-wrapper .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.auth-wrapper .p {
  color: #bf1650;
}

.auth-wrapper p::before {
  display: inline;
  content: "? ";
}

.auth-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
 margin: 5px 0 ;
  font-size: 14px;
  font-weight: 200;
}

.auth-wrapper input:disabled {
  opacity: 0.4;
}

hr {
  margin-top: 30px;
}

.auth-wrapper .emailCheck {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  background: #072e5d;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 4px;
  font-weight: 100;
}
.auth-wrapper .emailCheck:hover {
  background: #0c4d9c;
}
.auth-wrapper .email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.auth-wrapper .idCheck {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  background: #072e5d;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 4px;
  font-weight: 100;
}
.auth-wrapper .idCheck:hover {
  background: #0c4d9c;
}
.auth-wrapper .id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auth-wrapper .button {
  background: #072e5d;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 10px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-wrapper .button:hover {
  background: #0c4d9c;
}

.auth-wrapper .button:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.auth-wrapper .button:disabled {
  opacity: 0.4;
}

.auth-wrapper .button {
  -webkit-appearance: none;
}
.loginPage-button {
  display: flex;
  justify-content: space-between;
}

.main-top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072e5d;
}

.top-name {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.main-mid {

  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: #f7f7f7;
}

.mid-top-wrapper {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.left-top-wrapper {
  width: 35%;
}

.jongbo-section {
  background-color: white;
  height: 150px;
  margin: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.jongbo-text-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.jongbo-button-wrapper {
  margin-top: 10px;
}
.jongbo-button-wrapper Button {
  width: 100px;
  height: 30px;
}

.right-top-wrapper {
  width: 65%;
}

.search-section {
  height: 120px;
  background-color: white;
  margin: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  overflow: hidden;
  margin-left: 10px;
}

.mid-down-wrapper {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.left-down-wrapper {
  width: 35%;
}
.gudok-section {
  margin: 20px;
}
.subject {
  height: 70px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.subject-name {
  font-weight: bold;
  margin-top: 3px;
}
.right-down-wrapper {
  width: 65%
}
.team-section {
  margin-left: 20px;
  margin-right: 20px;
  height: 90px;
  overflow: hidden;
  background-color: white;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.team-wrapper {
  display: flex;
  flex-direction: column;
}
.team-top {
  display: flex;
  flex-direction: row;
  height: 45px;
  border-bottom: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}

.team-down {
  display: flex;
  flex-direction: row;
  height: 45px;
}
.team-role {
  width:20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-right: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.team-button {
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-name {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-right: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.team-real-name {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subject-section {
  margin: 20px;
  background-color: white;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.main-mid Button {
  border-radius: 0;
  border-width: 2px;
}

.myjongbo-arrow-wrapper {
  display: flex;
  justify-content: flex-end;
}

.myjongbo-resume-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.myjongbo-resume-wrapper::-webkit-scrollbar {
  display:none;
}
.myjongbo-resume {
  width: 90%;
  height: 180px;
  overflow-y:scroll;
  -ms-overflow-style: none;
  margin: 5px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
}
.myjongbo-resume::-webkit-scrollbar {
  display:none;
}
@media only screen and (max-width: 783px) {
  .mid-top-wrapper {
    flex-direction: column;
  }
  .mid-down-wrapper {
    flex-direction: column;
  }
  .left-down-wrapper {
    width: 90%;
  }
  .left-top-wrapper {
    width: 90%;
  }
  .right-down-wrapper {
    width: 90%;
  }
  .right-top-wrapper {
    width: 90%;
  }
}

.personal-top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072e5d;
}

.personal-top-name {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.personal-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
.personal-info-section {
  background-color: white;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.personal-info-wrapper {
  display: flex;
  flex-direction: column;
}
.personal-info-jemok {
  font-size: 25px;
}
.personal-info-wrapper {
  margin: 15px;
}
.personal-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-info-title {
  width: 25%;
  margin-top: 10px;
  background-color: #C8CDE3;
}
.info-title {
  margin: 7px;
}
.personal-info-content {
  width: 65%;
  margin-top: 10px;
  background-color: #DEE2EF;
}
.info-content {
  margin: 7px;
}
.personal-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-button-wrapper Button {
  border-radius: 0;
  border-width: 2px;
}

.personal-resume-section {
  background-color: white;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
  width: 90%;
}

.personal-resume-wrapper {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.personal-resume-jemok {
  font-size: 25px;
}
.personal-resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal-resume-title {
  width: 90%;
  margin-top: 10px;
  
  
}
.resume-info-title {
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 2px;
  background-color: #C8CDE3;
  padding: 10px;
  margin: 7px;
}

.personal-resume-top {
  display: flex;
  justify-content: space-between;
}
.personal-resume-top Button {
  border-radius: 0;
  border-width: 2px;
}

